<a href="https://colab.research.google.com/github/Nahid-S/OOPLAB-2/blob/main/Lab_Task_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
#creating list

lst0=[12,53,21,772,22.213,453.273,"Lucifer",[20,32,33]]
print(lst0)
lst1=[]

[12, 53, 21, 772, 22.213, 453.273, 'Lucifer', [20, 32, 33]]

In [60]:
#iterating list

lst0=[12,53,21,772,22.213,"Morningstar",[20,32,33]]
for i in lst0:
    print(i,end=' ')
print('')

12 53 21 772 22.213 Morningstar [20, 32, 33]

In [59]:
#iterating list

lst0=[12, 53, 21, 772, 22.213, 453.273,"Nahid",[40, 32, 33]]
print(lst0[2])
print(lst0[6])
print(lst0[-2])
print(lst0[-1])

21
Nahid
Nahid
[40, 32, 33]

In [58]:
#lsit slicing

lst0=[12, 53, 21, 772, 22.213, 453.273,"Sharif",[32,62,13]]

print(lst0[2:7])
print(lst0[2:])
print(lst0[:5])
print(lst0[:])

[21, 772, 22.213, 453.273, 'Sharif']
[21, 772, 22.213, 453.273, 'Sharif', [32, 62, 13]]
[12, 53, 21, 772, 22.213]
[12, 53, 21, 772, 22.213, 453.273, 'Sharif', [32, 62, 13]]

In [57]:
#List operations

lst0=[21, 772, 22.213, 453.273,"Crimson",[4, 32, 33]]

print(len(lst0))                #len( ) gives the length of the list

lst0.append([12,2,12,2])        #append( ) inserts an element to the end of the list
print(lst0)

lst0.insert(2,"pandas")         #insert( ) insertes an element on a given index
print(lst0)

print(lst0.index("Crimson"))     #index( ) returns index of first occurence of an element

print(lst0.count('Crimson'))     #count( ) reuturns the number of occurence of an element

print(lst0.reverse())           #reverse( ) makes a reverse list

lst1=lst0.copy()                #copy( ) makes a copy of list
print(lst1)

lst0.clear()                    #clear( ) makes the list empty

6
[21, 772, 22.213, 453.273, 'Crimson', [4, 32, 33], [12, 2, 12, 2]]
[21, 772, 'pandas', 22.213, 453.273, 'Crimson', [4, 32, 33], [12, 2, 12, 2]]
5
1
None
[[12, 2, 12, 2], [4, 32, 33], 'Crimson', 453.273, 22.213, 'pandas', 772, 21]

In [55]:
#list sorting

lst2=[33,16,12,24,480,50,100,200,400,500,1000,2000]

lst3=sorted(lst2)
print(lst3)
print(lst2)
lst2.sort()
print(lst2)

[12, 16, 24, 33, 50, 100, 200, 400, 480, 500, 1000, 2000]
[33, 16, 12, 24, 480, 50, 100, 200, 400, 500, 1000, 2000]
[12, 16, 24, 33, 50, 100, 200, 400, 480, 500, 1000, 2000]

In [54]:
#creating tuple

tp0=(42, 53, 21, 772, 22.213, 453.273,"Warlock",[2,32,3])
print(tp0)
tp1=()

(42, 53, 21, 772, 22.213, 453.273, 'Warlock', [2, 32, 3])

In [53]:
#iterating tuple

tp0=(12, 53, 21, 772, 22.213, 453.273,"Dracula",[72,34,166])
for i in tp0:
    print(i,end=' ')
print('')

12 53 21 772 22.213 453.273 Dracula [72, 34, 166]

In [52]:
#iterating tuple

tp0=(12, 53, 21, 772, 22.213, 453.273,"python",[72,34,166])
print(tp0[2])
print(tp0[6])
print(tp0[-2])
print(tp0[-5])

21
python
python
772

In [51]:
#inserting into tuple

tp0=(12, 53, 21, 772, 22.213, 453.273,"Alucard",[7,4,16])
tp0+=("pandas",232,3,232,3)
print(tp0)

(12, 53, 21, 772, 22.213, 453.273, 'Alucard', [7, 4, 16], 'pandas', 232, 3, 232, 3)

In [39]:
#unpacking sequences

lst=[12, 53, 21, 772]
a,b,c,d=lst
print(a)
print(b)
print(c)
print(d)

12
53
21
772

In [41]:
#unpacking sequences

tp=(21, 772, 22.213, 453.273)
a,b,c,d=tp
print(a)
print(b)
print(c)
print(d)

21
772
22.213
453.273