<a href="https://colab.research.google.com/github/Nahid-S/OOPLAB-2/blob/main/Lab_Task_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
#creating list

lst0=[12,53,21,772,22.213,453.273,"python",[20,32,33]]
print(lst0)
lst1=[]

[12, 53, 21, 772, 22.213, 453.273, 'python', [20, 32, 33]]

In [23]:
#iterating list

lst0=[12,53,21,772,22.213,"python",[20,32,33]]
for i in lst0:
    print(i,end=' ')
print('')

12 53 21 772 22.213 python [20, 32, 33]

In [25]:
#iterating list

lst0=[12, 53, 21, 772, 22.213, 453.273,"python",[40, 32, 33]]
print(lst0[2])
print(lst0[6])
print(lst0[-2])
print(lst0[-1])

21
python
python
[40, 32, 33]

In [28]:
#lsit slicing

lst0=[12, 53, 21, 772, 22.213, 453.273,"python",[32,62,13]]

print(lst0[2:7])
print(lst0[2:])
print(lst0[:5])
print(lst0[:])

[21, 772, 22.213, 453.273, 'python']
[21, 772, 22.213, 453.273, 'python', [32, 62, 13]]
[12, 53, 21, 772, 22.213]
[12, 53, 21, 772, 22.213, 453.273, 'python', [32, 62, 13]]

In [34]:
#list sorting

lst2=[33,16,12,24,480,50,100,200,400,500,1000,2000]

lst3=sorted(lst2)
print(lst3)
print(lst2)
lst2.sort()
print(lst2)

[12, 16, 24, 33, 50, 100, 200, 400, 480, 500, 1000, 2000]
[33, 16, 12, 24, 480, 50, 100, 200, 400, 500, 1000, 2000]
[12, 16, 24, 33, 50, 100, 200, 400, 480, 500, 1000, 2000]

In [32]:
#creating tuple

tp0=(42, 53, 21, 772, 22.213, 453.273,"python",[2,32,3])
print(tp0)
tp1=()

(42, 53, 21, 772, 22.213, 453.273, 'python', [2, 32, 3])

In [33]:
#iterating tuple

tp0=(12, 53, 21, 772, 22.213, 453.273,"python",[72,34,166])
for i in tp0:
    print(i,end=' ')
print('')

12 53 21 772 22.213 453.273 python [2, 32, 3]

In [ ]:
#iterating tuple

tp0=(12, 53, 21, 772, 22.213, 453.273,"python",[72,34,166])
print(tp0[2])
print(tp0[6])
print(tp0[-2])
print(tp0[-5])

3
python
python
32

In [35]:
#inserting into tuple

tp0=(12, 53, 21, 772, 22.213, 453.273,"python",[7,4,16])
tp0+=("pandas",232,3,232,3)
print(tp0)

(12, 53, 21, 772, 22.213, 453.273, 'python', [7, 4, 16], 'pandas', 232, 3, 232, 3)

In [39]:
#unpacking sequences

lst=[12, 53, 21, 772]
a,b,c,d=lst
print(a)
print(b)
print(c)
print(d)

12
53
21
772

In [41]:
#unpacking sequences

tp=(21, 772, 22.213, 453.273)
a,b,c,d=tp
print(a)
print(b)
print(c)
print(d)

21
772
22.213
453.273